<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Авторизация</h2>
    <form action="/login" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Авторизоваться">
    </form>
    <br>
    <a href="registration">Зарегистрироваться</a>
</div>
</body>
</html>
